/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



/* END RESET */

a{text-decoration:none;
	color:white;
}
a:hover{color:gray;
}

.wrapper {width:1380px;
		height:768px;
		position: fixed;
		margin: 0;
		z-index: 99;
		border-radius: 0 0 10px 10px;

}

#about {width:230px;
		height:768px;
		position:absolute;
		color:#00AEEF;
		font-family: Helvetica;
		padding-top: 400px;
}

#about h1,p{width:240px;
			font-size: 13px;
			padding-left: 10px;
			padding-top: 13px;
}


#about a{padding-left: 45px;
	font-size: 12px;
	padding-top: 400px;
}


h2 {font-family: Helvetica;
	color:#00AEEF;
	font-size: 15px;
	padding-top:15px;
	text-transform: uppercase;
}

p{color:gray;
	font-family: Helvetica;
}

#right img{padding-top: 10px;
			width:445px;
			padding-left: 40px;
}

.images {
width:280px;
height:748px;
position: absolute;
left:230px;
top:5px;
padding-left: 40px;

}

    .images > ul { 
	    	list-style: none;
	    
	    	
	    }
	    .images a { 
			text-decoration: none; 
			display: block; 
	
		
			border-radius: 2px; 
			color: black; 
			text-align: center;
			 
			
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
	    }

	    .images:hover a {
			opacity: 0.2;
	    }
	    .images:hover ul:hover a {
			opacity: 0.5; 
	    }
	    .images:hover ul:hover a:hover {
			opacity: 1;
	    }

.images img{padding-top: 8px;}

#right {position:relative;
	left:550px;
	width:500px;
	font-family: Helvetica;

}

#right p,h2{width:250px;
			padding-left: 40px;}



img{z-index: 500;}

#wrapper{height:100%;
		overflow: auto;
}

.page-break {width: 880px;
height: 40px;
background:#00AEEF;
margin-top:15px;
margin-bottom: 15px;
opacity:0.3;
box-shadow: 2px 2px 3px  3px #000000;
}